.about-ch {
  transform: translateX(-17px);
  margin: 0;
  padding: 0;

  @media (max-width: $max-tablet) {
    display: inline-block;
    vertical-align: middle;
    margin-right: 66px;
  }

  @media (max-width: $max-mobile) {
    transform: none;
  }

  @media (max-width: 600px) {
    margin-right: 0;
  }

  @media (max-width: 420px) {
    display: block;
    margin-bottom: 26px;
  }
}

.about-ch ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.about-ch li {
  max-width: 180px;
  margin: 0 0 21px;
  padding: 0;

  &:last-child {
    margin: 0;
  }
}

.about-ch a {
  color: $basic-white;

  &:hover {
    opacity: 0.6;
    transition: 0.2s;
    color: $basic-brown;
  }

  &:active {
    opacity: 0.4;
  }
}
