.burger-closed {
  display: none;
  cursor: pointer;
  transition: 1s all;
  z-index: 2;

  @media (max-width: $max-tablet) {
    display: none;
    justify-content: center;
    align-items: center;
    min-width: 25px;
    min-height: 16px;
    background-color: transparent;
    margin: 0;
    padding: 0;
  }

  @media (max-width: $max-mobile) {
    min-width: 25px;
    min-height: 16px;
  }
}

.burger-closed button {
  display: block;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  margin: 0;
  padding: 6px 0 0;

  &:focus {
    outline: 1px solid $basic-white;
    border: 2px solid $basic-dark;
    border-radius: 5px;
    margin: -2px;
  }

  &:hover {
    transform: scale(1.1);
    transition: 0.2s;
  }

  &::before {
    content: "";
    display: block;
    border-bottom: 2px solid $basic-dark;
    width: 23px;
    padding: 0;
    margin: 0 0 7px 0;
    transition: 1s;
  }
}

.burger-closed.burger-closed--change-color button {
  @media (max-width: $max-tablet) {
    &::before {
      border-bottom: 2px solid $basic-white;
    }
  }
}

.burger-closed span {
  &::before {
    content: "";
    display: block;
    border-bottom: 2px solid $basic-dark;
    width: 23px;
    padding: 0;
    margin: 0 0 7px 0;
    transition: 1s;
  }

  &::after {
    content: "";
    display: block;
    border-bottom: 2px solid $basic-dark;
    width: 23px;
    padding: 0;
    margin: 0 0 7px 0;
    transition: 1s;
  }
}

.burger-closed.burger-closed--change-color span {
  @media (max-width: $max-tablet) {
    &::before {
      border-bottom: 2px solid $basic-white;
    }

    &::after {
      border-bottom: 2px solid $basic-white;
    }
  }
}

.burger-closed--change-display {
  display: flex;
}

.burger-closed--background-color {
  background-color: transparent;
}
