.burger-open {
  display: none;
  z-index: 1;

  @media (max-width: $max-tablet) {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    min-height: 500%;
    transition: 1s;
    background-color: $basic-brown;
  }
}

.burger-open--appear {
  display: block;
  padding: 135px 45px 0;

  @media (max-width: $max-mobile) {
    padding: 135px 15px 0;
  }
}

.burger-open__list {
  max-width: 930px;
  margin: 0;
  padding: 0;
}

.burger-open__list--add-scroll {
  overflow: scroll;
}

.burger-open__list a {
  color: $basic-white;
}

.burger-open__list-item a {
  display: block;
  font-size: 20px;
  line-height: 28px;
  color: $basic-grey;
  padding: 15px;
}

.burger-open__action {
  display: none;
}

.burger-open__search {
  position: relative;
  margin: 0 0 42px;
  padding: 0;

  @media (max-width: $max-tablet) {
    &::before {
      content: "";
      position: absolute;
      top: 11px;
      left: 11px;
      -webkit-mask: url("../img/decor/magnifier.svg");
      mask: url("../img/decor/magnifier.svg");
      -webkit-mask-size: cover;
      mask-size: cover;
      background-size: 18px 17px;
      width: 18px;
      height: 17px;
      background-color: $basic-white;
    }
  }

  @media (max-width: $max-mobile) {
    margin: 0 0 34px;
  }
}

.burger-open__search input {
  min-width: 100%;
  min-height: 40px;
  background-color: $basic-white;
  opacity: 0.15;
  border: 0;
  outline: 0;
  border-radius: 21px;
  padding: 0 0 0 50px;
}

.burger-open__list-nav {
  margin-bottom: 37px;

  @media (max-width: $max-mobile) {
    margin-bottom: 26px;
  }
}

.burger-open__list-nav p {
  margin: 0 0 22px;
  padding: 0;

  &:last-child {
    margin: 0;
  }
}

.burger-open__list-nav a {
  @include poppins-medium();
  font-size: 24px;
  line-height: 36px;
  color: $basic-white;

  &:hover {
    opacity: 0.4;
  }

  &:active {
    opacity: 0.2;
  }
}

.burger-open__list-contacts {
  margin-bottom: 42px;

  @media (max-width: $max-mobile) {
    margin-bottom: 34px;
  }
}

.burger-open__list-contacts p {
  margin: 0 0 19px;
  padding: 0;

  &:last-child {
    margin: 0;
  }
}

.burger-open__list-contacts a {
  @include poppins-medium();
  font-size: 18px;
  line-height: 25px;
  opacity: 0.75;
  color: $basic-white;

  &:hover {
    opacity: 0.4;
  }

  &:active {
    opacity: 0.2;
  }
}

.burger-open__list-login p {
  margin: 0;
  padding: 0;
}

.burger-open__list-login a {
  @include poppins-medium();
  font-size: 18px;
  line-height: 24px;
  color: $basic-white;

  &:hover {
    opacity: 0.4;
  }

  &:active {
    opacity: 0.2;
  }
}
