.care-jewellery {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 30px;
  padding: 0;

  @media (max-width: $max-tablet) {
    margin: 0 0 50px;
  }

  @media (max-width: $max-mobile) {
    flex-direction: column;
    margin: 0 0 40px;
  }
}

.care-jewellery__picture {
  background: url("../img/desktop/main/blog/care-jewellery.jpg") no-repeat;
  background-size: cover;
  min-width: 285px;
  min-height: 300px;

  @media (max-width: $max-tablet) {
    background: url("../img/tablet/main/blog/care-jewellery.jpg") no-repeat;
    min-width: 339px;
    min-height: 300px;
  }

  @media (max-width: $max-mobile) {
    background: url("../img/mobile/main/blog/care-jewellery.jpg") no-repeat;
    min-width: 290px;
    min-height: 256px;
  }
}

.care-jewellery__text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: $basic-beige;
  min-width: 285px;
  min-height: 300px;
  margin: 0;
  padding: 66px 60px 20px;

  @media (max-width: $max-tablet) {
    min-width: 339px;
    min-height: 300px;
  }

  @media (max-width: $max-mobile) {
    min-width: 290px;
    min-height: 256px;
    padding: 44px 60px 20px;
  }
}

.care-jewellery p {
  &:first-of-type {
    font-size: 14px;
    line-height: 18px;
    color: $basic-grey;
    margin: 0 0 14px;
    padding: 0;
  }

  &:last-of-type {
    border-bottom: 1px solid $basic-brown;
    margin: 0;
    padding: 0 0 3px;
  }
}

.care-jewellery h3 {
  @include cormorantgaramond-semibold();
  max-width: 180px;
  text-align: center;
  margin: 0 0 38px;
  padding: 0;
}
