.catalog-goods {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.catalog-goods__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  max-width: 870px;
  margin: 0;
  padding: 0;

  @media (min-width: $max-tablet) and (max-width: 1260px) {
    max-width: 660px;
  }
}
