.catalog {
  margin: 0 0 74px;
  padding: 0 45px;

  @media (max-width: $max-mobile) {
    row-gap: 25px;
    margin: 0 0 65px;
    padding: 0 10px;
  }
}

.catalog__inner {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  column-gap: 50px;
  margin: 0;
  padding: 0;

  @media (max-width: $max-tablet) {
    display: block;
  }
}

.catalog__inner > button {
  display: none;

  &:hover {
    background-color: transparent;
    border: 1px solid $basic-brown;
    color: $basic-dark;
  }

  &:active {
    color: $basic-white;
    background-color: $basic-brown;
  }

  @media (max-width: $max-tablet) {
    display: block;
    width: 100%;
    color: $basic-white;
    background-color: $basic-brown;
    border: 0;
    min-height: 68px;
    cursor: pointer;
    max-width: 680px;
    margin: 0 auto 50px;
    padding: 0;
  }

  @media (max-width: $max-mobile) {
    margin: 0 auto 40px;
  }
}

.catalog__filter-wrapper.catalog__filter-wrapper-remove {
  display: none;
}

.catalog__filter-wrapper.catalog__filter-wrapper-add {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100vw;
  height: 100%;
  overflow: auto;
  vertical-align: middle;
  background-color: $basic-white;
  margin: 0 auto;
  padding: 24px 0 0;

  @media (max-width: 450px) {
    padding: 75px 0 0;
  }
}
