.catalog-card {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // flex-direction: column;
  margin: 0;
  padding: 0;

  &:nth-child(3n) {
    margin: 0;
  }

  @media (max-width: 480px) {
    max-width: 130px;
  }
}

.catalog-card a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.catalog-card img {
  transition: 0.4s;
  margin: 0 0 21px;
  padding: 0;

  &:hover {
    transform: scale(1.1);
    transition: 0.4s;
    box-shadow: 2px 2px 10px 0 $basic-dark;
  }

  @media (max-width: $intermediate-tablet) {
    width: 206px;
    height: 208px;
  }

  @media (max-width: $max-mobile) {
    margin: 0 0 17px;
  }

  @media (max-width: 480px) {
    width: 130px;
    height: 136px;
  }
}

.catalog-card h3 {
  @include poppins-medium();
  text-align: center;
  font-size: 16px;
  line-height: 21px;
  margin: 0 0 6px;
  padding: 0;

  @media (max-width: 480px) {
    text-align: center;
  }
}

.catalog-card p {
  @include poppins-bold();
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  padding: 0;
}
