.checkbox input {
  position: absolute;
  width: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  height: 1px;
}

.checkbox input:focus + label {
  outline: 2px solid $basic-dark;
}

.checkbox label {
  display: block;
  cursor: pointer;
  margin: 0;
  padding: 0 0 0 34px;

  &:hover {
    color: $basic-brown;
  }

  &::before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 1px solid $basic-brown;
    margin: 0 11px 0 0;
    padding: 0;

    @media (max-width: $max-tablet) {
      width: 18px;
      height: 18px;
    }
  }
}

.checkbox input:checked + label {
  &::before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 1px solid $basic-brown;
    background-color: $basic-brown;
    margin: 0 11px 0 0;
    padding: 0;

    @media (max-width: $max-tablet) {
      width: 18px;
      height: 18px;
    }
  }
}
