.checkbox label {
  margin: 0;
  padding: 0;

  &::before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 1px solid $basic-brown;
    margin: 0 11px 0 0;
    padding: 0;

    @media (max-width: $max-tablet) {
      width: 18px;
      height: 18px;
    }
  }
}

.checkbox input:checked + label {
  &::before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 1px solid $basic-brown;
    background-color: $basic-brown;
    margin: 0 11px 0 0;
    padding: 0;

    @media (max-width: $max-tablet) {
      width: 18px;
      height: 18px;
    }
  }
}
