.filter {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  box-shadow: 0 5px 32px 0 $filter-shadow;
  margin: 0;
  padding: 0;

  @media (max-width: $max-tablet) {
    transform: translateX(-10px);
    display: none;
    max-width: 432px;
  }

  @media (max-width: 450px) {
    transform: unset;
    max-width: 270px;
    margin: 0 auto;
  }
}

.filter--display-none {
  display: none;
}

.filter.filter--appear {
  display: block;
}

.filter__inner {
  border: 1px solid $basic-brown;
  max-width: 256px;
  margin: 0 0 35px 0;
  padding: 0;

  @media (max-width: $max-tablet) {
    border: 0;
    max-width: unset;
  }

  @media (max-width: 450px) {
    margin: 0 0 31px;
  }
}

.filter__inner .filter__close-button {
  display: none;

  @media (max-width: $max-tablet) {
    position: absolute;
    top: -12px;
    right: -16px;
    border: 0;
    outline: 0;
    border-radius: 50%;
    background-color: $basic-dark;
    display: inline-block;
    z-index: 1;
    cursor: pointer;
    width: 32px;
    height: 32px;

    &:focus {
      // border: 4px solid $basic-brown;
      background-color: $basic-brown;
    }

    // &::before {
    //   content: "";
    //   position: absolute;
    //   top: -14px;
    //   right: -15px;
    //   border-radius: 50%;
    //   background-color: $basic-dark;
    //   width: 32px;
    //   height: 32px;

    //   @media (max-width: 450px) {
    //     top: 38px;
    //     right: -10px;
    //   }
    // }

    &::after {
      content: "";
      position: absolute;
      top: 8px;
      right: 9px;
      background: url("../img/decor/cross.svg") no-repeat;
      width: 14px;
      height: 14px;
    }
  }

  @media (max-width: 450px) {
    top: 37px;
    right: -10px;
  }
}

.filter__inner--display-none {
  display: none;
}

.filter > button[type="submit"] {
  border: 0;
  color: $basic-white;
  min-width: 250px;
  min-height: 68px;
  background-color: $basic-brown;
  cursor: pointer;
  margin: 0 0 25px 0;
  padding: 0;

  &:hover {
    border: 1px solid $basic-brown;
    color: $basic-dark;
    background-color: transparent;
  }

  &:active {
    background-color: $basic-brown;
    color: $basic-white;
  }

  @media (max-width: $max-tablet) {
    display: block;
    transform: translateX(30px);
    min-width: 364px;
  }

  @media (max-width: 450px) {
    min-width: 230px;
    transform: unset;
    margin: 0 auto 19px;
  }
}

.filter > button[type="button"] {
  border: 1px solid $basic-brown;
  color: $basic-dark;
  background-color: transparent;
  min-width: 250px;
  min-height: 68px;
  cursor: pointer;
  margin: 0;
  padding: 0;

  &:hover {
    background-color: $basic-brown;
    color: $basic-white;
    border: 0;
  }

  &:active {
    border: 1px solid $basic-brown;
    color: $basic-dark;
    background-color: transparent;
  }

  @media (max-width: $max-tablet) {
    display: block;
    transform: translateX(30px);
    min-width: 364px;
  }

  @media (max-width: 450px) {
    min-width: 230px;
    transform: unset;
    margin: 0 auto 25px;
  }
}

