.navigation {
  border-top: 1px solid $basic-line;
  margin: 0;
  padding: 18px 0 0 0;

  @media (max-width: $max-tablet) {
    display: none;
  }
}

.navigation ul {
  display: flex;
  flex-wrap: wrap;
  transform: translateX(7px);
  max-width: 495px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.navigation li {
  max-width: 100px;
  margin: 0 35px 0 0;
  padding: 0;

  &:last-child {
    margin: 0;
  }
}

.navigation a {
  color: $basic-dark;

  &:hover {
    color: $basic-brown;
    transition: 0.2s;
  }

  &:active {
    opacity: 0.6;
  }
}
