.page-footer {
  min-height: 338px;
  background-color: $basic-black;
  margin: 0;
  padding: 97px 50px 0;

  @media (max-width: $max-tablet) {
    min-height: 446px;
    padding: 57px 42px 0;
  }

  @media (max-width: $max-mobile) {
    padding: 57px 12px 0;
    // min-height: 773px;
  }
}

.page-footer__inner {
  display: flex;
  justify-content: space-between;
  max-width: 1174px;
  margin: 0 auto;
  padding: 0;
  z-index: 1;

  @media (max-width: $max-tablet) {
    display: block;
  }
}
