.page-header {
  margin: 0 0 23px;
  padding: 17px 50px 0;
  z-index: 2;

  @media (max-width: $max-tablet) {
    padding: 27px 45px 0;
  }

  @media (max-width: $max-mobile) {
    padding: 10px 15px 0;
    margin: 0 0 6px;
  }
}

.page-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1168px;
  margin: 0 auto 26px;
  padding: 0;

  @media (max-width: $max-tablet) {
    margin: 0 auto 5px;
  }
}

.page-header__search-block {
  margin: 0;
  padding: 0;

  @media (max-width: $max-tablet) {
    display: none;
  }
}

.page-header__search-inner {
  position: relative;
  margin: 0;
  padding: 0;

  &::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 0;
    background: url("../img/decor/magnifier.svg") no-repeat;
    background-size: 14px;
    width: 15px;
    height: 15px;
  }
}

.page-header__search-block input {
  border: 0;
  padding: 0 0 0 30px;

  &:hover {
    outline: 1px solid $basic-black;
    transition: 0.2s;
  }

  &::placeholder {
    color: $basic-grey;
    font-size: 14px;
    line-height: 21px;
  }
}

.page-header__logo {
  z-index: 1;
  transform: translate(-58px, 13px);
  margin: 0;
  padding: 0;

  @media (max-width: $max-tablet) {
    transform: translate(-5px,3px);
  }
}

.page-header__logo svg {
  width: 66px;
  height: 66px;
  transform: rotate(-360deg);
  transition: 0.5s;

  @media (max-width: $max-mobile) {
    transform: scale(0.8);
  }
}

.page-header__logo.page-header__logo--change-color svg {
  @media (max-width: $max-tablet) {
    stroke: $basic-white;
    transform: rotate(360deg);
    transition: 0.5s;
  }

  @media (max-width: $max-mobile) {
    transform: scale(0.8) rotate(360deg);
  }
}

.page-header__login-block {
  display: flex;
  z-index: 2;
  margin: 0;
  padding: 0;

  &:hover {
    transform: scale(1.2);
    transition: 0.2s;
  }
}

.page-header__login-block.page-header__login-block--change-bag a:last-child {
  @media (max-width: $max-tablet) {
    &::before {
      background-color: $basic-white;
      transition: 1s;
    }
  }
}

.page-header__login-block p {
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  padding: 0;

  &:first-child {
    margin-right: 35px;

    @media (max-width: $max-tablet) {
      display: none;
    }
  }
}

.page-header__login-block a {
  color: $basic-dark;

  &:hover {
    color: $basic-brown;
    transition: 0.2s;
  }

  &:active {
    opacity: 0.6;
  }


  &:last-child {
    @media (max-width: $max-tablet) {
      display: block;
      font-size: 0;
      line-height: 0;

      &::before {
        content: "";
        display: block;
        -webkit-mask: url("../img/decor/bag.svg") no-repeat 50% 50%;
        mask: url("../img/decor/bag.svg") no-repeat 50% 50%;
        -webkit-mask-size: cover;
        mask-size: cover;
        background-size: 18px 16px;
        width: 18px;
        height: 16px;
        background-color: $basic-dark;
        transition: 1s;
      }
    }
  }
}

.page-header__tablet {
  display: none;
  margin: 0;
  padding: 0;

  @media (max-width: $max-tablet) {
    justify-content: space-between;
    align-items: center;
  }
}

.page-header__tablet-disappear {
  @media (max-width: $max-tablet) {
    display: flex;
  }
}

.page-header__tablet-inner {
  @media (max-width: $max-tablet) {
    margin: 0;
    padding: 21px 0 0 21px;
  }

  @media (max-width: $max-mobile) {
    padding: 20px 0 0 17px;
  }
}

.page-header__tablet-inner svg {
  background-size: 68px 21px;
  width: 68px;
  height: 21px;
}
