.popup-login {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  overflow: auto;
  vertical-align: middle;
  background-color: $basic-white;
  margin: 0 auto;
  padding: 100px 0 0;

  @media (max-width: $max-tablet) {
    padding: 80px 0 0;
  }

  @media (max-width: 490px) {
    padding: 49px 0 0;
  }
}

.popup-login__inner {
  max-width: 430px;
  margin: 0 auto;
  padding: 0;

  @media (max-width: $max-tablet) {
    max-width: 442px;
  }

  @media (max-width: 490px) {
    max-width: 271px;
  }
}

.popup-login__background {
  position: relative;
  background: url("../img/desktop/catalog/login-background.jpg") no-repeat;
  background-size: cover;
  min-height: 138px;
  margin: 0;
  padding: 0;

  @media (max-width: 490px) {
    background-size: contain;
    min-height: 87px;
  }
}

.popup-login__background button {
  position: absolute;
  top: 20px;
  right: 5px;
  padding: 10px;
  background-color: transparent;
  cursor: pointer;
  border: 0;
}

.popup-login__background span {
  position: absolute;
  top: 0;
  right: 5px;
  -webkit-mask: url("../img/decor/cross.svg") no-repeat 50% 50%;
  mask: url("../img/decor/cross.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: $basic-dark;
  background-size: 14px;
  width: 14px;
  height: 14px;
  margin: 0;
  padding: 0;
  z-index: 1;

  &:hover {
    transform: scale(1.2);
  }

  &:active {
    background-color: $basic-brown;
  }

  @media (max-width: $max-tablet) and (min-width: $min-tablet){
    background-size: 20px;
    width: 20px;
    height: 20px;
  }

  @media (max-width: 490px) {
    top: 16px;
    right: 16px;
  }
}

.popup-login__shape {
  background-color: $basic-beige;
}

.popup-login__main-shape {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 0;
  margin: 0;
  padding: 0 45px;

  @media (max-width: 490px) {
    padding: 0 15px;
  }
}

.popup-login__main-shape legend {
  @include cormorantgaramond-bold();
  font-size: 34px;
  line-height: 44px;
  color: $basic-dark;
  margin: 0 auto 33px;
  padding: 50px 0 0;

  @media (max-width: 490px) {
    font-size: 24px;
    line-height: 21px;
    padding: 40px 0 0;
  }
}

.popup-login__main-shape input {
  border: 0;
  background-color: transparent;
  min-width: 100%;
  margin: 0;
  padding: 0 0 9px;

  &:hover {
    border: 1px solid $basic-dark;
  }

  &::placeholder {
    font-size: 14px;
    line-height: 21px;
    color: $basic-grey;
  }
}

.popup-login__enter-mail {
  min-width: 100%;
  border-bottom: 1px solid $basic-dark;
  margin: 0 0 34px;
  padding: 0;

  @media (max-width: $max-tablet) and (min-width: $min-tablet) {
    padding: 0 0 0 6px;
  }

  @media (max-width: 490px) {
    margin: 0 0 28px;
  }
}

.popup-login__error {
  border: 2px solid $error-message;
}

.popup-login__enter-password {
  min-width: 100%;
  border-bottom: 1px solid $basic-dark;
  margin: 0 0 5px;
  padding: 0;

  @media (max-width: $max-tablet) and (min-width: $min-tablet) {
    padding-left: 6px;
  }
}

.popup-login__main-shape p {
  color: $basic-grey;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  padding: 0;
}

.popup-login__forgot-password {
  transition: 0.2s;
  margin: 0 0 45px auto;

  &:hover {
    transform: scale(1.1);
    transition: 0.2s;
  }

  @media (max-width: $max-tablet) {
    margin: 0 7px 0 auto;
    padding: 0;
  }

  @media (max-width: 490px) {
    margin: 0 0 35px auto;
  }
}

.popup-login__forgot-password a {
  display: block;
  color: $basic-grey;
  font-size: 12px;
  line-height: 18px;
  align-self: flex-end;
  margin: 0 0 0 auto;
  padding: 0;

  &:active {
    color: $basic-brown;
  }
}

.popup-login__main-shape button {
  color: $basic-white;
  background-color: $basic-brown;
  border: 0;
  min-width: 340px;
  min-height: 68px;
  cursor: pointer;
  margin: 0 0 15px;
  padding: 0;

  &:hover {
    background-color: transparent;
    color: $basic-dark;
    border: 1px solid $basic-brown;
  }

  &:active {
    background-color: $basic-brown;
    color: $basic-white;
  }

  @media (max-width: 490px) {
    min-width: 240px;
  }
}

.popup-login__sign-up {
  margin-bottom: 54px;

  @media (max-width: 490px) {
    margin-bottom: 40px;
  }
}

.popup-login__sign-up a {
  color: $basic-dark;
  margin: 0 0 0 auto;

  &:hover {
    color: $basic-brown;
  }

  &:active {
    opacity: 0.5;
  }
}
