.popup-filter {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-10px);
  z-index: 3;
  width: 100%;
  height: 100%;
  overflow: auto;
  vertical-align: middle;
  background-color: $basic-white;
  margin: 0 auto;
  padding: 24px 0 0;
}

.popup-filter--appear {
  transform: translateX(0);
}

.popup-filter--display-none {
  display: none;
}

.popup-filter__shape {
  max-width: 425px;
  margin: 0;
  padding: 0;

  @media (max-width: 450px) {
    display: flex;
    min-width: 270px;
    margin: 0 auto;
  }
}

.popup-filter__shape-inner {
  display: inline-flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  @media (max-width: 450px) {
    min-width: 270px;
    margin: 0 auto;
  }
}

.popup-filter__filter {
  min-width: 425px;
  background-color: $basic-white;
  box-shadow: 0px 5px 32px 0px $filter-shadow;
  margin: 0;
  padding: 0;

  @media (max-width: 450px) {
    min-width: unset;
    max-width: 270px;
  }
}

.popup-filter__close-button {
  position: relative;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: -14px;
    right: -15px;
    border-radius: 50%;
    background-color: $basic-dark;
    width: 32px;
    height: 32px;

    @media (max-width: 450px) {
      top: 38px;
      right: -10px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: -5px;
    right: -6px;
    background: url("../img/decor/cross.svg") no-repeat;
    width: 14px;
    height: 14px;

    @media (max-width: 450px) {
      top: 46px;
      right: -1px;
    }
  }
}

.popup-filter__shape button[type="submit"] {
  display: block;
  border: 0;
  color: $basic-white;
  min-width: 362px;
  min-height: 68px;
  background-color: $basic-brown;
  margin: 0 0 25px;
  padding: 0;

  @media (max-width: 1169px) {
    transform: translateX(20px);
    min-width: 270px;
  }

  @media (max-width: 450px) {
    transform: unset;
    min-width: 230px;
    margin: 0 auto 19px;
  }
}

.popup-filter__shape button[type="button"] {
  display: block;
  border: 1px solid $basic-brown;
  color: $basic-dark;
  background-color: transparent;
  min-width: 362px;
  min-height: 68px;
  background-color: $basic-white;
  margin: 0 0 20px;
  padding: 0;

  @media (max-width: 1169px) {
    transform: translateX(20px);
    min-width: 270px;
  }

  @media (max-width: 450px) {
    transform: unset;
    margin: 0 auto 20px;
    min-width: 230px;
  }
}
