.price {
  border: 0;
  cursor: pointer;
  margin: 0;
  padding: 0;


  @media (max-width: $intermediate-tablet) {
    border-bottom: 1px solid $basic-brown;
    margin-bottom: 40px;
  }

  @media (max-width: 450px) {
    margin-bottom: 31px;
  }
}

.price button:first-of-type {
  position: relative;
  border: 0;
  min-width: 100%;
  min-height: 100%;
  text-align: left;
  background-color: transparent;
  margin: 0;
  padding: 25px 0 23px 25px;

  @media (max-width: $intermediate-tablet) {
    font-size: 18px;
    line-height: 23px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 28px;
    right: 24px;
    margin-left: 10px;
    -webkit-mask: url("../img/decor/accordion-arrow.svg") no-repeat 50% 50%;
    mask: url("../img/decor/accordion-arrow.svg") no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
    background-color: $basic-brown;
    background-size: cover;
    width: 15px;
    height: 8px;

    @media (max-width: $intermediate-tablet) {
      top: 41px;
      right: 40px;
      width: 23px;
      height: 12px;
    }

    @media (max-width: 450px) {
      top: 29px;
      right: -187px;
    }
  }
}

.price button:first-of-type:hover {
  background-color: $basic-brown;
  color: $basic-white;

  &:after {
    background-color: $basic-white;
  }
}

.price.price--rotate-arrow button:first-of-type {
  &::after {
    transform: rotate(180deg);
  }
}

.price label {
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  padding: 0;

  @media (max-width: $intermediate-tablet) {
    font-size: 16px;
    line-height: 21px;
  }
}

.price__scrollbar {
  position: relative;
  margin: 0 0 5px;
  padding: 0 30px 0;

  &::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 23px;
    border-bottom: 1px solid $basic-beige;
    max-width: 200px;
    width: 100%;
  }


  @media (max-width: $intermediate-tablet) {
    margin: 0 0 18px;
  }

  @media (max-width: 450px) {
    margin: 0 0 24px;
  }
}

.price__scrollbar-active-line {
  position: relative;
  max-width: 90px;
  margin: 0 auto;
  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    top: 3px;
    left: 0px;
    border-bottom: 1px solid $basic-brown;
    min-width: 100px;

    @media (max-width: $intermediate-tablet) {
      min-width: 178px;
    }

    @media (max-width: 450px) {
      left: 46px;
      min-width: 135px;
    }
  }
}

.price__toggles {
  position: absolute;
  top: 0;
  left: 0;

  &::before {
    content: "";
    position: absolute;
    top: -4px;
    left: 95px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: $basic-brown;

    @media (max-width: $intermediate-tablet) {
      top: -8px;
      left: 54px;
      width: 18px;
      height: 18px;
    }

    @media (max-width: 450px) {
      left: 28px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: -4px;
    left: -10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: $basic-brown;

    @media (max-width: $intermediate-tablet) {
      width: 18px;
      height: 18px;
      top: -8px;
      left: 230px;
    }

    @media (max-width: 450px) {
      left: 167px;
    }
  }
}

.price__tags {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 60px;
  margin-bottom: 18px;
  margin: 0 0 18px;
  padding: 0;

  @media (max-width: $intermediate-tablet) {
    justify-content: flex-start;
    padding-left: 37px;
    column-gap: 137px;
  }

  @media (max-width: 450px) {
    padding: 16px 0 0 11px;
    column-gap: 101px;
  }
}

.price__tags p {
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  padding: 17px 0 0;

  &:last-child {
    transform: translateX(12px);
  }

  @media (max-width: $intermediate-tablet) {
    font-size: 16px;
    line-height: 21px;
  }

  @media (max-width: 450px) {
    margin: 0;
    padding: 0;
  }
}
