.product {
  border: 0;
  border-bottom: 1px solid $basic-brown;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.product button:first-of-type {
  position: relative;
  border: 0;
  min-width: 100%;
  min-height: 100%;
  text-align: left;
  cursor: pointer;
  background-color: transparent;
  margin: 0;
  padding: 25px 0 20px 25px;

  @media (max-width: $intermediate-tablet) {
    font-size: 18px;
    line-height: 23px;
  }

  @media (max-width: 450px) {
    padding: 78px 0 0;
  }

  &::after {
    content: "";
    position: absolute;
    top: 29px;
    right: 25px;
    margin-left: 10px;
    -webkit-mask: url("../img/decor/accordion-arrow.svg");
    mask: url("../img/decor/accordion-arrow.svg");
    -webkit-mask-size: cover;
    mask-size: cover;
    background-color: $basic-brown;
    background-size: cover;
    width: 15px;
    height: 8px;

    @media (max-width: $intermediate-tablet) {
      top: 41px;
      right: 40px;
      width: 23px;
      height: 12px;
    }

    @media (max-width: 450px) {
      top: 82px;
      right: -160px;
    }
  }
}

.product button:first-of-type:hover {
  background-color: $basic-brown;
  color: $basic-white;

  &::after {
    background-color: $basic-white;
  }
}

.product.product--rotate-arrow button:first-of-type {
  &::after {
    transform: rotate(180deg);
  }
}

.product div {
  margin: 0 0 6px;
  padding: 6px 0 0;

  &:last-child {
    margin-bottom: 27px;

    @media (max-width: $intermediate-tablet) {
      margin-bottom: 35px;
    }

    @media (max-width: 450px) {
      margin-bottom: 26px;
    }
  }

  @media (max-width: $intermediate-tablet) {
    margin: 0 0 15px;
  }
}

.product label {
  font-size: 14px;
  line-height: 18px;
  margin: 0;

  @media (max-width: $intermediate-tablet) {
    font-size: 16px;
    line-height: 21px;
  }
}
