.sign-up {
  min-width: 43%;
  transform: translateY(-6px);
  margin: 0;
  padding: 0;

  @media (max-width: $max-tablet) {
    margin-bottom: 39px;
  }

  @media (max-width: $max-mobile) {
    margin-bottom: 40px;
  }
}

.sign-up > p {
  @include cormorantgaramond-bold();
  font-size: 34px;
  line-height: 44px;
  color: $basic-white;
  letter-spacing: 0.03em;
  max-width: 510px;
  margin: 0 0 8px;
  padding: 0;

  &:last-of-type {
    @include poppins-regular();
    font-size: 15px;
    color: $basic-grey;
    text-indent: 5px;
    margin: 0 0 35px;

    @media (max-width: $max-mobile) {
      text-indent: unset;
    }
  }

  @media (max-width: 325px) {
    max-width: 240px;
  }
}

.sign-up__input-wrapper a:hover {
  &::after {
    background-color: $basic-brown;
  }
}
