.socials {
  transform: translateX(9px);
  max-width: 190px;
  margin: 0;
  padding: 0;

  @media (max-width: $max-tablet) {
    display: inline-block;
    vertical-align: middle;
  }

  @media (max-width: 600px) {
    display: flex;
    transform: unset;
  }
}

.socials p {
  margin: 0 0 21px;
  padding: 0;

  &:last-child {
    margin: 0;
  }
}

.socials a {
  color: $basic-white;
  margin: 0;
  padding: 0;
}

.socials__facebook a {
  position: relative;
  margin: 0;
  padding: 10px 10px 10px 20px;

  &::before {
    content: "";
    position: absolute;
    top: 13px;
    left: -8px;
    -webkit-mask: url("../img/decor/facebook.svg");
    mask: url("../img/decor/facebook.svg");
    -webkit-mask-size: cover;
    mask-size: cover;
    background-color: $basic-white;
    background-size: 8px 15px;
    width: 8px;
    height: 15px;
    margin: 0 15px 0 0;
    padding: 0;

    @media (max-width: 600px) {
      top: 6px;
      left: 4px;
      background-size: 12px 21px;
      width: 12px;
      height: 21px;
    }
  }

  @media (max-width: 600px) {
    font-size: 0;
    padding: 18px;
  }
}

.socials__facebook a:hover {
  color: $facebook;
  transition: 0.2s;

  &::before {
    background-color: $facebook;
    transition: 0.2s;
  }
}

.socials__facebook a:active {
  opacity: 0.6;

  &::before {
    opacity: 0.6;
  }
}

.socials .socials__instagram {
  @media (max-width: 600px) {
    margin-right: 16px;
  }
}

.socials__instagram a {
  position: relative;
  margin: 0;
  padding: 10px 10px 10px 20px;

  &::before {
    content: "";
    position: absolute;
    top: 13px;
    left: -11px;
    -webkit-mask: url("../img/decor/instagram.svg");
    mask: url("../img/decor/instagram.svg");
    -webkit-mask-size: cover;
    mask-size: cover;
    background-color: $basic-white;
    background-size: 15px;
    width: 15px;
    height: 15px;
    margin: 0 15px 0 0;
    padding: 0;

    @media (max-width: 600px) {
      top: 6px;
      left: 3px;
      background-size: 20px 21px;
      width: 20px;
      height: 21px;
      left: 6px;
    }
  }

  @media (max-width: 600px) {
    font-size: 0;
    padding: 18px;
  }
}

.socials__instagram a:hover {
  background-image: $instagram;
  background-size: 100%;
  background-clip: text;
  color: transparent;
  transition: 0.2s;

  &::before {
    background-image: $instagram;
    background-color: transparent;
    transition: 0.2s;
  }
}

.socials__instagram a:active {
  opacity: 0.6;

  &::before {
    opacity: 0.6;
  }
}

.socials .socials__pinterest {
  @media (max-width: 600px) {
    margin-right: 14px;
  }
}

.socials__pinterest a {
  position: relative;
  margin: 0;
  padding: 10px 10px 10px 20px;

  &::before {
    content: "";
    position: absolute;
    top: 13px;
    left: -11px;
    -webkit-mask: url("../img/decor/pinterest.svg");
    mask: url("../img/decor/pinterest.svg");
    -webkit-mask-size: cover;
    mask-size: cover;
    background-color: $basic-white;
    background-size: 15px;
    width: 15px;
    height: 15px;
    margin: 0 15px 0 0;
    padding: 0;

    @media (max-width: 600px) {
      top: 6px;
      left: 6px;
      background-size: 20px 21px;
      width: 20px;
      height: 21px;
    }
  }

  @media (max-width: 600px) {
    font-size: 0;
    padding: 18px;
  }
}

.socials__pinterest a:hover {
  color: $pinterest;
  transition: 0.2s;

  &::before {
    background-color: $pinterest;
    transition: 0.2s;
  }
}

.socials__pinterest a:active {
  opacity: 0.6;

  &::before {
    opacity: 0.6;
  }
}


.socials__twitter a {
  position: relative;
  margin: 0;
  padding: 10px 10px 10px 20px;

  &:hover {
    color: $twitter;
    transition: 0.2s;
  }

  &:active {
    opacity: 0.6;
  }

  &::before {
    content: "";
    position: absolute;
    top: 13px;
    left: -11px;
    -webkit-mask: url("../img/decor/twitter.svg");
    mask: url("../img/decor/twitter.svg");
    -webkit-mask-size: cover;
    mask-size: cover;
    background-color: $basic-white;
    background-size: 15px;
    width: 15px;
    height: 15px;
    margin: 0 15px 0 0;
    padding: 0;

    @media (max-width: 600px) {
      top: 6px;
      left: 6px;
      background-size: 20px 18px;
      width: 20px;
      height: 18px;
    }
  }

  @media (max-width: 600px) {
    font-size: 0;
    padding: 18px;
  }
}

.socials__twitter a:hover {
  color: $twitter;
  transition: 0.2s;

  &::before {
    background-color: $twitter;
    transition: 0.2s;
  }
}

.socials__twitter a:active {
  opacity: 0.6;

  &::before {
    opacity: 0.6;
  }
}
