@mixin poppins-regular() {
  font-family: "Poppins Regular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 21px;
  color: $basic-grey;
}

@mixin poppins-medium() {
  font-family: "Poppins Medium", "Arial", sans-serif;
  font-size: 16px;
  line-height: 21px;
  color: $basic-dark;
}

@mixin cormorantgaramond-mediumitalic() {
  font-family: "Cormorant Garamond Medium Italic", "Arial", sans-serif;
  font-size: 45px;
  line-height: 59px;
  color: $basic-white;
}

@mixin cormorantgaramond-semibold() {
  font-family: "Cormorant Garamond Semibold", "Arial", sans-serif;
  font-size: 26px;
  line-height: 34px;
  color: $basic-black;
}

@mixin roboto-medium() {
  font-family: "Cormorant Garamond Bold", "Arial", sans-serif;
  font-size: 45px;
  line-height: 59px;
  color: $basic-white;
}
