$basic-dark: rgba(29, 22, 19, 1);
$basic-black: rgba(0, 0, 0, 1);
$basic-grey: rgba(155, 153, 151, 1);
$basic-white: rgba(255, 255, 255, 1);
$basic-brown: rgba(168, 123, 98, 1);
$basic-line: rgba(246, 245, 244, 1);
$basic-beige: rgba(240, 234, 228, 1);
$facebook: rgba(66, 103, 178, 1);
$instagram: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
$pinterest: rgba(230, 0, 35, 1);
$twitter: rgba(29, 161, 242, 1);
$filter-shadow: rgba(219, 213, 208, 0.24);
$popup-filter-background: rgba(255, 255, 255, 0.5);
$error-message: rgba(255, 99, 71, 1);

$max-desktop: 1366px;
$intermediate-tablet: 1188px;
$desktop: 1024px;
$max-tablet: 1023px;
$min-tablet: 768px;
$max-mobile: 767px;
$min-mobile: 320px;
