$basic-dark: rgba(29, 22, 19, 1);
$basic-black: rgba(0, 0, 0, 1);
$basic-grey: rgba(155, 153, 151, 1);
$basic-white: rgba(255, 255, 255, 1);
$basic-brown: rgba(168, 123, 98, 1);
$basic-line: rgba(246, 245, 244, 1);
$basic-beige: rgba(240, 234, 228, 1);

$max-desktop: 1366px;
$desktop: 1024px;
$max-tablet: 1023px;
$min-tablet: 768px;
$max-mobile: 767px;
$min-mobile: 320px;
